.JobCard {
  position: relative;
  padding: 24px;
  border: 1px solid #eaebed;
  border-radius: 12px;
  margin-top: 16px;
  list-style: none;
  background: #ffffff;
}
.JobCardProfession {
  color: #5e96fc;
  font-weight: 600;
  font-size: 20px;
}
.JobCardCurrency {
  font-weight: 600;
  font-size: 16px;
  margin-top: 12px;
  color: #232134;
}
.JobCardType {
  font-weight: 400;
}
.JobCardLocation {
  margin-top: 12px;
  display: flex;
  align-items: center;
}

.JobCardCity {
  margin-left: 12px;
}
.JobCardBookmark {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  stroke: #acadb9;
}
.ActiveBookmark {
  fill: #5e96fc;
  stroke: #5e96fc;
}

@media (max-width: 765px) {
  .JobCardProfession {
    font-size: 16px;
  }
}
