.FormWrapper {
  grid-area: form;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #eaebed;
  border-radius: 12px;
  position: relative;
  height: 360px;
}
.FormTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 32px;
}
.BtnForm {
  width: 100%;
  margin-top: 30px;
}
.Select {
  margin-top: 32px;
}
.NumberInput {
  margin-top: 20px;
  margin-bottom: 8px;
}
.Loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
