.container {
  max-width: 1145px;
  margin: 0 auto;
  padding: 0px 15px;
  display: flex;
  align-items: center;
}
.Navbar {
  padding: 24px 0px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.MenuList {
  margin-left: 223px;
  display: flex;
  list-style: none;
}
.MenuItem {
  margin-left: 60px;
}
.MenuLink {
  font-size: 16px;
  color: #232134;
}
.active {
  font-weight: 500;
  line-height: 20px;
  color: #5e96fc;
}

.menu {
}

@media (max-width: 765px) {
  .MenuList {
    margin-left: 0px;
    justify-content: space-between;
  }

  .MenuItem {
    margin-left: 0px;
    margin-right: 15px;
  }
  .container {
    justify-content: space-between;
  }
}

@media (max-width: 440px) {
  .Logo {
    width: 100px;
    height: 30px;
  }
  .MenuLink {
    font-size: 12px;
  }
  .active {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: #5e96fc;
  }
  .MenuItem:last-child {
    margin-right: 0px;
  }
}
