.SearchInput {
    width: 100%;
    background: #ffffff;
    border: 1px solid #eaebed;
    border-radius: 8px;
    color: #acadb9;
    padding: 13px 36px;
}
.SearchButton {
    position: absolute;
    top: 5px;
    right: 10px;
}
.SearchInputWrapper {
    grid-area: search;
    position: relative;
}
.SearchIcon {
    position: absolute;
    top: 14px;
    left: 14px;
}

@media (max-width: 765px) {
    .FormWrapper {
        /* grid-template-columns: minmax(320px, 1fr);
        grid-template-areas:
            "form"
            "search"
            "list"; */
    }
}
