.Button {
  background: #5e96fc;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}
.ButtonS {
  padding: 5px 20px;
}
.ButtonM {
  padding: 9px 20px;
}
.TransparentM {
  font-weight: 600;
  padding: 10px 24px;
  background: #deecff;
  color: #3b7cd3;
}

.Link {
  border: none;
  color: #acadb9;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}
