.Button {
    padding: 6px 20px;
    background: #5e96fc;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
}
