.FavoriteWrapper {
  min-height: calc(100vh - 84px);
  gap: 15px 15px;
  display: grid;
  grid-template-columns: auto minmax(320px, 773px) auto;
  grid-template-areas: " . list .";
}
.List {
  grid-area: list;
}
